<div nz-row>
  <div nz-col nzSpan="24" style="padding: 0 10px;">
    <nz-carousel [nzEffect]="effect" nzAutoPlay>
      <div nz-carousel-content *ngFor="let index of carouselsArray">
        <img [src]=index alt="" />
      </div>
    </nz-carousel>
  </div>
</div>

<h3>Card</h3>
<div nz-row>
  <div nz-col nzMd="24" nzXl="8" style="padding: 0 10px;">
    <nz-card style="width: 100%" nzTitle="活跃用户" [nzExtra]="extraTemplate">
      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="12">
          <nz-statistic [nzValue]="201191 | number: '1.0-2' " [nzTitle]="''"></nz-statistic>
        </nz-col>
        <nz-col [nzSpan]="12">
          <nz-statistic
            [nzValue]="11.28 | number: '1.0-2'"
            [nzTitle]="''"
            [nzPrefix]="prefixTplOne"
            [nzSuffix]="'%'"
            [nzValueStyle]="{ color: '#3F8600' }">
          </nz-statistic>
        <ng-template #prefixTplOne><i nz-icon type="arrow-up"></i></ng-template>
        </nz-col>
      </nz-row>
    </nz-card>
    <ng-template #extraTemplate>
        <a>More</a>
    </ng-template>
  </div>

  <div nz-col nzMd="24" nzXl="8" style="padding: 0 10px;">
    <nz-card style="width: 100%" nzTitle="我的余额" [nzExtra]="extraTemplate">
      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="12">
          <nz-statistic [nzValue]="2019.38 | number: '1.0-2' " [nzTitle]="''"></nz-statistic>
        </nz-col>
        <nz-col [nzSpan]="12">
          <nz-statistic
            [nzValue]="11.28 | number: '1.0-2'"
            [nzTitle]="''"
            [nzPrefix]="prefixTplTwo"
            [nzSuffix]="'%'"
            [nzValueStyle]="{ color: '#CF1322' }">
          </nz-statistic>
          <ng-template #prefixTplTwo><i nz-icon type="arrow-down"></i></ng-template>
        </nz-col>
      </nz-row>
    </nz-card>
    <ng-template #extraTemplate>
        <a>More</a>
    </ng-template>
  </div>

  <div nz-col nzMd="24" nzXl="8"  style="padding: 0 10px;">
    <nz-card style="width: 100%" nzTitle="注册用户" [nzExtra]="extraTemplate">
      <nz-col [nzSpan]="12">
        <nz-statistic [nzValue]="1128 | number" [nzTitle]="''" [nzPrefix]="prefixTpl"></nz-statistic>
        <ng-template #prefixTpl><i nz-icon type="like"></i></ng-template>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-statistic [nzValue]="93" [nzTitle]="''" [nzSuffix]="'/ 100'"></nz-statistic>
      </nz-col>
    </nz-card>
    <ng-template #extraTemplate>
        <a>More</a>
    </ng-template>
  </div>
</div>

<br />
<h3>两地气温对比</h3>
<div nz-row>
  <div nz-col nzSpan="24" style="padding: 0 10px;">
    <div id="high_container"></div>
  </div>
</div>

<h3>运动员智能数据表格对比</h3>
<div nz-row>
  <div nz-col nzSpan="24" style="padding: 0 10px;">
      <ag-grid-angular 
        style="width: 100%; height: 500px;" 
        class="ag-theme-balham"
        [rowData]="rowData" 
        [columnDefs]="columnDefs"
        [rowSelection]="rowSelection"
        [pagination]=true
        [paginationAutoPageSize]="true"
        (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
</div>
